html, body {
    height: 100%;
    font-family: "Oswald";
}



a {
    font-family: "Anton";
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.404);
}

a:hover {
    color: rgba(14, 13, 13, 0.829);
}

li {
    list-style-type: none;
}

.backgroundBody {
    background: #abbaab;
    background: linear-gradient(to top, #859485, #ffffff) no-repeat;
    font-family: "Oswald", sans-serif;
}

.light-blue:hover {
    box-shadow: 0 0 30px rgb(130, 121, 163);
}

.light-text-a:hover {
    text-shadow: 0 0 10px rgba(204, 0, 0, 0.39);
}
/*
.red-line:hover {
    border-bottom: 0.2rem red solid;
}
*/
#size-a {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
}

#size-a p {
    margin: 0 0.2rem;
}

.center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cotainer {
     
    background:  url(../images/header.png), linear-gradient(to bottom, #f1f2f3, #8f8f8f);
    background-size: 100% 5rem, auto auto;
    background-repeat: no-repeat;
}

.grid {
    display: grid;
    grid-template-columns: 10rem 40rem;
    grid-template-rows: 10rem 10rem 10rem 5rem;
}
header {
    grid-area: 1/1/4;
    
}

}
main{
    grid-area: 1/2/4/div;
}
footer{
    grid-area: 4/1/4/ div;
}
.footerbg{
    background-image: url("../images/footer.png");
   
}

.red-line {
    color: rgba(255, 0, 0, 0.753);
    text-decoration: none;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.red-line:hover, .red-line:focus {
    background-size: 90% 2px;
    
}
.space{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(min-width: 75rem){
    html{
        width: 75rem;
        margin: auto auto;
    }

}
@media(max-width: 75rem){

}
@media(max-width: 65rem){
    
}
@media(max-width: 45rem){
    
}
@media(max-width: 35rem){
    html{
        width: 20rem;
        margin: auto auto;
    }
    footer{
        width: 20rem;
    }
}